## pip install pandas
### data preprocessing

In [84]:
import pandas as pd

In [85]:
df_employee = pd.read_csv('Employees.csv')
df_customer = pd.read_csv('Customers.csv')
df_department = pd.read_csv('Departments.csv')
df_inventory = pd.read_csv('Inventory.csv')
df_order = pd.read_csv('Orders.csv')
df_product = pd.read_csv('Products.csv')
df_store = pd.read_csv('Stores.csv')

In [86]:
df_employee.columns

Index(['EmployeeId', 'FIRST_NAME', 'LAST_NAME', 'BIRTHDAY', 'EMAIL',
       'PHONE_NUMBER', 'HIRE_DATE', 'JOB_TITLE', 'AGE', 'SALARY', 'COMMISSION',
       'ManagerId', 'DepartmentId', 'Name'],
      dtype='object')

In [87]:
df_customer.columns

Index(['Customer Number', 'First Name', 'Last Name', 'Address', 'City',
       'Province', 'Country', 'Postal Code', 'Phone', 'email'],
      dtype='object')

In [88]:
print(df_employee.isnull().any())
print("==============")
print(df_employee.isnull().any().any())

EmployeeId      False
FIRST_NAME      False
LAST_NAME       False
BIRTHDAY        False
EMAIL           False
PHONE_NUMBER    False
HIRE_DATE       False
JOB_TITLE       False
AGE             False
SALARY          False
COMMISSION       True
ManagerId        True
DepartmentId    False
Name            False
dtype: bool
==============
True

In [89]:
print(df_customer.isnull().any())
print("==============")
print(df_customer.isnull().any().any())

Customer Number    False
First Name         False
Last Name          False
Address            False
City               False
Province            True
Country             True
Postal Code        False
Phone              False
email              False
dtype: bool
==============
True

In [90]:
print(df_employee.isnull().values.any())

True

In [91]:
print(df_customer.isnull().values.any())

True

In [92]:
df_employee.isnull().sum()

EmployeeId       0
FIRST_NAME       0
LAST_NAME        0
BIRTHDAY         0
EMAIL            0
PHONE_NUMBER     0
HIRE_DATE        0
JOB_TITLE        0
AGE              0
SALARY           0
COMMISSION      27
ManagerId        1
DepartmentId     0
Name             0
dtype: int64

In [93]:
df_customer.isnull().sum()

Customer Number    0
First Name         0
Last Name          0
Address            0
City               0
Province           1
Country            1
Postal Code        0
Phone              0
email              0
dtype: int64

In [94]:
df_employee.dtypes

EmployeeId        int64
FIRST_NAME       object
LAST_NAME        object
BIRTHDAY         object
EMAIL            object
PHONE_NUMBER     object
HIRE_DATE        object
JOB_TITLE        object
AGE               int64
SALARY            int64
COMMISSION      float64
ManagerId       float64
DepartmentId      int64
Name             object
dtype: object

In [95]:
df_customer.dtypes

Customer Number     int64
First Name         object
Last Name          object
Address            object
City               object
Province           object
Country            object
Postal Code        object
Phone              object
email              object
dtype: object

In [96]:
df_employee.loc[df_employee.duplicated()]

Empty DataFrame
Columns: [EmployeeId, FIRST_NAME, LAST_NAME, BIRTHDAY, EMAIL, PHONE_NUMBER, HIRE_DATE, JOB_TITLE, AGE, SALARY, COMMISSION, ManagerId, DepartmentId, Name]
Index: []

In [97]:
df_customer.loc[df_customer.duplicated()]

Empty DataFrame
Columns: [Customer Number, First Name, Last Name, Address, City, Province, Country, Postal Code, Phone, email]
Index: []

##  pip install mysql-connector-python
### connecting with MYSQL

### if still getting no module found 'mysql', we might want to 
--Create the virtual environment in your dev dir: $ python3 -m venv venv

--Activate the virtual environment: $ . venv/bin/activate (C:\Users\Jake\Desktop\SQL\sql-projects\sql-connect-with-python\venv\Scripts>)

--Install your dependency(ies): $ pip install mysql-connector-python

-- on the top right corner, switch to venv(Python 3.13.7), and rerun all, you might
want to pip install pandas again

In [98]:
import mysql.connector

In [99]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2diiouli"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C881200F50>

In [100]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE trainingdb")

In [101]:
mycursor.execute("SHOW DATABASES")

In [102]:
for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('salesdb',)
('sys',)
('trainingdb',)
('world',)

#Option 1
###pip install pymysql

In [103]:

import csv
import pymysql as MySQLdb

mydb = MySQLdb.connect(host='localhost',
                       user='root',
                       passwd='2diiouli',
                       db='trainingdb')
cursor = mydb.cursor()

In [104]:
df_employee.columns = df_employee.columns.str.lower()
df_employee.columns

Index(['employeeid', 'first_name', 'last_name', 'birthday', 'email',
       'phone_number', 'hire_date', 'job_title', 'age', 'salary', 'commission',
       'managerid', 'departmentid', 'name'],
      dtype='object')

In [105]:
df_customer.columns = df_customer.columns.str.lower()
df_customer.columns = df_customer.columns.str.replace(' ', '_', regex=True)
df_customer.columns

Index(['customer_number', 'first_name', 'last_name', 'address', 'city',
       'province', 'country', 'postal_code', 'phone', 'email'],
      dtype='object')

## Employee table
### below code is showing error, but its actually generate the table in the DB

In [106]:
employee_data = csv.reader('Employees.csv')
for row in employee_data:

    cursor.execute("""
            CREATE TABLE Employee(
                EmployeeId INT PRIMARY KEY,
                FIRST_NAME VARCHAR(50),
                LAST_NAME VARCHAR(50),
                BIRTHDAY DATE,
                EMAIL VARCHAR(50),
                PHONE_NUMBER VARCHAR(50),
                HIRE_DATE DATE,
                JOB_TITLE VARCHAR(50),
                AGE VARCHAR(10),
                SALARY VARCHAR(50),
                COMMISSION VARCHAR(50),
                ManagerId VARCHAR(50),
                DepartmentId VARCHAR(50),
                Name VARCHAR(50))""")

OperationalError: (1050, "Table 'employee' already exists")

In [107]:
customer_data = csv.reader('Customers.csv')
for row in customer_data:

    cursor.execute("""
            CREATE TABLE Customer(
                customer_number INT PRIMARY KEY,
                first_name VARCHAR(50),
                last_name VARCHAR(50),
                address VARCHAR(200),
                city VARCHAR(50),
                province VARCHAR(50),
                country VARCHAR(10),
                postal_code VARCHAR(50),
                phone VARCHAR(50),
                email VARCHAR(50))""")

OperationalError: (1050, "Table 'customer' already exists")

In [ ]:
'''
cursor.execute("""
    DROP TABLE employee
""")
'''

0

In [ ]:
'''
cursor.execute("""
    DROP TABLE customer
""")
'''

#Option 2
###If you do not have the pandas and sqlalchemy libraries, install them using pip

-pip install pandas
-pip install sqlalchemy

-import csv
-import pandas as pd
-from sqlalchemy import create_engine, types

-engine = create_engine('mysql://root:*Enter password here*@localhost/*Enter Databse name -here*') # enter your password and database names here

-df = pd.read_csv("Excel_file_name.csv",sep=',',quotechar='\'',encoding='utf8') # Replace -Excel_file_name with your excel sheet name
-df.to_sql('Table_name',con=engine,index=False,if_exists='append') # Replace Table_name -with your sql table name

In [111]:
with open('Employees.csv', 'r') as f:
    data_reader = csv.reader(f)
    next(data_reader)

    for row in data_reader:
        cursor.execute("INSERT INTO employee (EmployeeId, FIRST_NAME, LAST_NAME,BIRTHDAY, EMAIL, PHONE_NUMBER,HIRE_DATE,JOB_TITLE,AGE, SALARY, COMMISSION,ManagerId,DepartmentId, Name) VALUES(%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s)", row)

IntegrityError: (1062, "Duplicate entry '198' for key 'employee.PRIMARY'")

In [112]:
with open('Customers.csv', 'r') as f:
    data_reader = csv.reader(f)
    next(data_reader)

    for row in data_reader:
        cursor.execute("INSERT INTO Customer (customer_number, first_name, last_name,address, city, province,country,postal_code,phone, email) VALUES(%s, %s, %s,%s, %s, %s,%s, %s, %s,%s)", row)

IntegrityError: (1062, "Duplicate entry '2342577' for key 'customer.PRIMARY'")

In [114]:
mydb.commit()

InterfaceError: (0, '')

In [ ]:

# close cursor and communication with the database
cursor.close()
mydb.close()